.welcomeText {
  font-size: larger;
  font-weight: bold;
}

.headingText {
  font-size: larger;
  font-weight: bold;
}

table {
  border-collapse: collapse;
}

th {
  border-width: 1px;
  border-color: black;
  border-style: none;
  background-color: #949494;
  color: #f1f1f1;
  font-weight: lighter;
  margin-bottom: 10px;
  padding: 10px;
  text-align: left;
}

td {
  border-width: 1px;
  border-color: black;
  border-style: none;
  background-color: #dfdfdf;
  color: #6c6c6c;
  font-weight: lighter;
  margin-top: 0px;
  padding: 10px;
  margin-bottom:0px;
  text-align: left;
}

tr {
  margin-bottom: 20px!important;
  padding: 0px;
}

tr{
  border-top: solid white 10px; /* change "white" to your background color */
}


.flexContainer {
  display: flex;
}
.flexSpaceAround {
  justify-content: space-around;
}
.subContainer {
  width: 80%;
  margin: 0 auto;
}
.col {
  width: 40%;
  border: 1px solid #777777;
  border-radius: 8px;
  background: white;
  padding: 20px;
  align-items: center;
  justify-content: center;
}

tr { line-height: 20px!important; background-color:blue}
td ,th {height:20px!important;}
